@import "tailwindcss";

:root {
  --dark-bg: #05070a;
}

body {
  background-color: var(--dark-bg);
  color: white;
  overflow-x: hidden;
}

.grid-bg {
  background-image: 
    linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
  background-size: 30px 30px;
  background-attachment: fixed;
}

/* Para sa smooth scroll ng mobile */
html {
  scroll-behavior: smooth;
}
